In [1]:
import pandas as pd  
import numpy as np 
import plotly.offline as pyo  
import plotly.graph_objects as go

In [8]:
match = pd.read_csv('matches.csv')
delivery = pd.read_csv('deliveries.csv')

ipl =delivery.merge(match,left_on = 'match_id',right_on = 'id')
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [29]:
top50 = ipl.groupby('batsman')['batsman_runs'].sum().sort_index(ascending=True).head(50).index.tolist()

new_ipl = ipl[ipl['batsman'].isin(top50)]
new_ipl

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
246,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,A Choudhary,YS Chahal,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
247,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,A Choudhary,YS Chahal,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
290,2,1,Mumbai Indians,Rising Pune Supergiant,7,6,AT Rayudu,N Rana,Imran Tahir,0,...,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
291,2,1,Mumbai Indians,Rising Pune Supergiant,8,1,AT Rayudu,N Rana,BA Stokes,0,...,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
293,2,1,Mumbai Indians,Rising Pune Supergiant,8,3,AT Rayudu,N Rana,BA Stokes,0,...,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150409,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,4,AB de Villiers,V Kohli,Bipul Sharma,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150411,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,6,AB de Villiers,V Kohli,Bipul Sharma,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150412,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,1,AB de Villiers,V Kohli,BB Sran,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150420,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,3,AB de Villiers,KL Rahul,Bipul Sharma,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150422,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,5,AB de Villiers,KL Rahul,Bipul Sharma,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [30]:
runs = new_ipl.groupby('batsman')['batsman_runs'].sum()
balls=new_ipl.groupby('batsman')['batsman_runs'].count()

sr = (runs/balls)*100

In [31]:
sr = sr.reset_index()
sr

            batsman  batsman_runs
0    A Ashish Reddy    142.857143
1        A Chandila     57.142857
2          A Chopra     70.666667
3       A Choudhary    125.000000
4        A Flintoff    108.771930
5          A Kumble     71.428571
6          A Mishra     89.005236
7          A Mithun    130.769231
8          A Mukund     82.608696
9           A Nehra     65.079365
10          A Singh     20.000000
11        A Symonds    124.711908
12         A Uniyal     57.142857
13          A Zampa     62.500000
14      AA Bilakhia     78.409091
15        AA Chavan    109.090909
16  AA Jhunjhunwala     99.541284
17        AA Noffke     75.000000
18       AB Agarkar    111.875000
19        AB Barath     97.674419
20         AB Dinda     52.000000
21      AB McDonald    119.417476
22   AB de Villiers    145.129059
23      AC Blizzard    131.868132
24     AC Gilchrist    133.054662
25        AC Thomas    105.263158
26         AC Voges    126.573427
27   AD Mascarenhas    100.000000
28       AD Mathews    120.868114
29          AD Nath     71.428571
30       AD Russell    164.000000
31         AF Milne     58.333333
32       AG Murtaza     71.428571
33      AG Paunikar     80.327869
34         AJ Finch    126.299213
35           AJ Tye    176.666667
36       AL Menaria    109.264305
37         AM Nayar    114.285714
38        AM Rahane    117.486549
39         AN Ahmed    133.333333
40         AN Ghosh     87.500000
41          AP Dole    147.826087
42      AP Majumdar    112.987013
43          AP Tare    118.947368
44         AR Bawne    100.000000
45         AR Patel    122.672065
46       AS Rajpoot     46.153846
47          AS Raut    112.790698
48         AS Yadav    122.500000
49        AT Rayudu    123.014257

In [32]:
out=ipl[ipl["player_dismissed"].isin(top50)]
out

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
316,2,1,Mumbai Indians,Rising Pune Supergiant,12,1,AT Rayudu,N Rana,R Bhatia,0,...,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
434,2,2,Rising Pune Supergiant,Mumbai Indians,11,1,AM Rahane,SPD Smith,TG Southee,0,...,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
557,3,1,Gujarat Lions,Kolkata Knight Riders,11,2,AJ Finch,SK Raina,Kuldeep Yadav,0,...,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
750,4,1,Rising Pune Supergiant,Kings XI Punjab,7,2,AM Rahane,SPD Smith,T Natarajan,0,...,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
909,4,2,Kings XI Punjab,Rising Pune Supergiant,12,1,AR Patel,GJ Maxwell,Imran Tahir,0,...,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148891,630,2,Gujarat Lions,Mumbai Indians,1,2,AJ Finch,BB McCullum,R Vinay Kumar,0,...,normal,0,Gujarat Lions,0,6,SK Raina,Green Park,AK Chaudhary,CK Nandan,NaN
149389,632,2,Royal Challengers Bangalore,Delhi Daredevils,3,4,AB de Villiers,V Kohli,Z Khan,0,...,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
149493,633,1,Gujarat Lions,Royal Challengers Bangalore,2,4,AJ Finch,SK Raina,Iqbal Abdulla,0,...,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
150075,635,1,Gujarat Lions,Sunrisers Hyderabad,18,3,AJ Finch,RA Jadeja,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
150422,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,5,AB de Villiers,KL Rahul,Bipul Sharma,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [35]:
nouts = out['player_dismissed'].value_counts()
avg = runs/nouts

avg = avg.reset_index()
avg.rename(columns ={ 'index' :'batsman',0:'avg'},inplace=True)
avg = avg.merge(sr,on='batsman')
avg

            batsman        avg  batsman_runs
0    A Ashish Reddy  18.666667    142.857143
1        A Chandila        NaN     57.142857
2          A Chopra   8.833333     70.666667
3       A Choudhary  25.000000    125.000000
4        A Flintoff  31.000000    108.771930
5          A Kumble  11.666667     71.428571
6          A Mishra  11.724138     89.005236
7          A Mithun   6.800000    130.769231
8          A Mukund   9.500000     82.608696
9           A Nehra   5.857143     65.079365
10          A Singh   0.500000     20.000000
11        A Symonds  36.074074    124.711908
12         A Uniyal   4.000000     57.142857
13          A Zampa   2.500000     62.500000
14      AA Bilakhia  13.800000     78.409091
15        AA Chavan   6.000000    109.090909
16  AA Jhunjhunwala  16.692308     99.541284
17        AA Noffke   9.000000     75.000000
18       AB Agarkar  17.900000    111.875000
19        AB Barath  21.000000     97.674419
20         AB Dinda   2.600000     52.000000
21      AB McDonald  24.600000    119.417476
22   AB de Villiers  38.307692    145.129059
23      AC Blizzard  17.142857    131.868132
24     AC Gilchrist  27.223684    133.054662
25        AC Thomas  10.000000    105.263158
26         AC Voges  45.250000    126.573427
27   AD Mascarenhas   8.777778    100.000000
28       AD Mathews  23.354839    120.868114
29          AD Nath   5.000000     71.428571
30       AD Russell  26.090909    164.000000
31         AF Milne   3.500000     58.333333
32       AG Murtaza  10.000000     71.428571
33      AG Paunikar   9.800000     80.327869
34         AJ Finch  27.186441    126.299213
35           AJ Tye  26.500000    176.666667
36       AL Menaria  19.095238    109.264305
37         AM Nayar  17.684211    114.285714
38        AM Rahane  33.593407    117.486549
39         AN Ahmed  36.000000    133.333333
40         AN Ghosh   3.500000     87.500000
41          AP Dole  17.000000    147.826087
42      AP Majumdar  21.750000    112.987013
43          AP Tare  14.125000    118.947368
44         AR Bawne        NaN    100.000000
45         AR Patel  20.200000    122.672065
46       AS Rajpoot   6.000000     46.153846
47          AS Raut  21.555556    112.790698
48         AS Yadav   9.800000    122.500000
49        AT Rayudu  27.146067    123.014257

In [41]:
trace = go.Scatter(x=avg['avg'],y=avg['batsman_runs'],mode='markers',text =avg['batsman'],marker={'color' : 'blue','size':16})

data =[trace]

layout =go.Layout(title = 'batsman AVG vs SR',xaxis ={'title':"Batsman Average"},yaxis = {'title':'Batsman Strike Rate'})
fig = go.Figure(data = data , layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [51]:
single1=ipl[ipl['batsman'] == 'MS Dhoni']
performance1 =single1.groupby('season')['batsman_runs'].sum().reset_index()
performance1
single=ipl[ipl['batsman'] == 'V Kohli']
performance =single.groupby('season')['batsman_runs'].sum().reset_index()
performance

   season  batsman_runs
0    2008           165
1    2009           246
2    2010           307
3    2011           557
4    2012           364
5    2013           639
6    2014           359
7    2015           505
8    2016           973
9    2017           308

In [54]:
trace1= go.Scatter(x =performance['season'],
                   y=performance['batsman_runs'],
                   mode ='lines+markers', 
                   marker = {'color':'Blue'},
                   name = 'Virat kohli')

trace2 = go.Scatter(x =performance1['season'],
                   y=performance1['batsman_runs'],
                   mode ='lines+markers', 
                   marker = {'color':'Blue'},
                   name = 'Virat kohli')

data = [trace1,trace2]
layout =go.Layout(title = "Year by Year performance",
                  xaxis={'title' :'season'},
                  yaxis={'title':'Total runs'}
                  )
fig=go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [55]:
top10 =ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending = False).head(10).index.tolist()
top10

['SK Raina',
 'V Kohli',
 'RG Sharma',
 'G Gambhir',
 'DA Warner',
 'RV Uthappa',
 'CH Gayle',
 'S Dhawan',
 'MS Dhoni',
 'AB de Villiers']

In [56]:
top10_df = ipl[ipl['batsman'].isin(top10)]

In [59]:
top10_score =top10_df.groupby('batsman')['batsman_runs'].sum().reset_index()

In [62]:
trace =  go.Bar(x=top10_score['batsman'],y=top10_score['batsman_runs'])

data =[trace]
layout =go.Layout(title = 'Top 10IPL batsman',
                  xaxis={"title":'Batsman'},
                  yaxis = {'title': 'Total Runs'})

fig = go.Figure(data=data,layout= layout)
pyo.plot(fig)

'temp-plot.html'